<!DOCTYPE html>
<html lang="gu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rampara Genealogy is dedicated to providing detailed and comprehensive genealogical data. Explore the history and family connections at Rampara.">
    <meta name="keywords" content="Rampara, genealogy, family tree, ancestry, historical data, rampara">
    <title>Save Person Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="icon" href="https://www.royalark.net/India/dhrangadhra-arms.jpg" type="image/icon type">
    <style>
        /* Importing fonts from Google */
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

        /* General Reset */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            background: #ecf0f3;
        }

        .wrapper {
            max-width: 700px;
            min-height: 500px;
            margin: 80px auto;
            padding: 40px 30px;
            background-color: #cbe0f0;
            border-radius: 15px;
            box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
        }

        .logo {
            width: 80px;
            margin: auto;
        }

        .logo img {
            width: 100%;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0px 0px 3px #5f5f5f,
                        0px 0px 0px 5px #ecf0f3,
                        8px 8px 15px #a7aaa7,
                        -8px -8px 15px #fff;
        }

        .wrapper h3 {
            font-size: 1.6rem;
            margin-bottom: 20px;
        }

        .wrapper .name {
            
            font-weight: 600;
            font-size: 1.4rem;
            color: #555;
        }

        .form-field {
            margin-bottom: 20px;
            border-radius: 20px;
            box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
            position: relative;
        }

        .form-field input[type="text"],
        .form-field input[type="email"],
        .form-field input[type="date"]{
            width: 100%;
            border: none;
            background: none;
            font-size: 1.2rem;
            color: #666;
            padding: 10px 15px 10px 40px;
        }

        .form-field .fas {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            color: #555;
        }

        .wrapper .btn {
            width: auto;
            height: 40px;
            background-color: #f41703;
            color: #fff;
            border-radius: 25px;
            box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
            letter-spacing: 1.3px;
            border: none;
            cursor: pointer;
            font-size: 1.2rem;
            padding: 0 20px;
        }

        .wrapper .btn:hover {
            background-color: #e56c03;
        }

        .wrapper a {
            text-decoration: none;
            font-size: 0.8rem;
            color: #03A9F4;
        }

        .wrapper a:hover {
            color: #039BE5;
        }

        @media (max-width: 380px) {
            .wrapper {
                margin: 30px 20px;
                padding: 40px 15px;
            }
        }

        /* Styling for radio buttons */
        .form-field input[type="radio"] {
            margin-right: 8px;
            vertical-align: middle;
        }

        .radio-group, .gender {
            display: inline-block;
            align-items: center;
            margin-bottom: 15px;
        }

        .form-field label {
            top: 15px;
            left: 300px;
        }
        .form-field select
        {
            display:inline-block;
            width: auto;
            border: none;
            background: none;
            font-size: 1.2rem;
            color: #666;
            padding: 10px 15px 10px 40px;
        }

        .btn-secondary {
            background-color: #6c757d;
            border: none;
        }

        .btn-secondary:hover {
            background-color: #5a6268;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
        }

        .btn-primary:hover {
            background-color: #0069d9;
        }

        .btn-success {
            background-color: #28a745;
            border: none;
        }

        .btn-success:hover {
            background-color: #218838;
        }
    </style>
    </head>
    <body>
        <div class="wrapper">
            <form id="multiStepForm" method="post">
                {% csrf_token %}
                <!-- Section 1: Your Details -->
                <div id="section1" class="form-section">
                    <h3><i class="fas fa-info-circle"></i> તમારી માહિતી નીચે દાખલ કરો</h3>
                    
                    <div class="mb-3 form-field">
                        <!-- <label>{{ form.your_name.label_tag }}</label> -->
                            <i class="fas fa-user"></i> <!-- Icon for name -->
                        {{ form.your_name }}
                    </div>
        
                    <div class="mb-3 form-field">
                        <!-- <label for="{{ form.your_email.id_for_label }}"> -->
                            <i class="fas fa-envelope"></i> <!-- Icon for email -->
                            <!-- {{ form.your_email.label_tag }} -->
                        <!-- </label> -->
                        {{ form.your_email }}
                    </div>
        
                    <div class="d-flex justify-content-between">
                        <button type="reset" class="btn btn-secondary">
                            <i class="fas fa-undo"></i> Reset
                        </button>
                        <button type="button" class="btn btn-primary" onclick="nextSection(2)">
                            <i class="fas fa-arrow-right"></i> Next
                        </button>
                    </div>
                </div>
        <!-- Section 2: Person's Details to Add to CSV -->
        <div id="section2" class="form-section" style="display:none;">
            <h3><i class="fas fa-user-plus"></i> જેમનો ડેટા ઉમેરવા નો હોય તેમની માહિતી નીચે દાખલ કરો</h3>
            
            <div class="mb-3 form-field">
                <!-- <label for="{{ form.person_name.id_for_label }}"> -->
                    <i class="fas fa-user"></i> <!-- Icon for person name -->
                    <!-- {{ form.person_name.label_tag }} -->
                <!-- </label> -->
                {{ form.person_name }}
            </div>

            <div class="mb-3 form-field">
                <!-- <label for="{{ form.dob.id_for_label }}"> -->
                    <i class="fas fa-calendar-alt"></i> <!-- Icon for date of birth -->
                    <!-- {{ form.dob.label_tag }} -->
                <!-- </label> -->
                {{ form.dob }}
            </div>

            <div class="gender radio-group">
                <i class="fas fa-venus-mars"></i> <!-- Icon for gender -->
                {{ form.gender.label_tag }}
                {{ form.gender }}
            </div>

            <div class="mb-3 form-field">
                <!-- <label for="{{ form.father_name.id_for_label }}"> -->
                    <i class="fas fa-user"></i> <!-- Icon for father name -->
                    <!-- {{ form.father_name.label_tag }} -->
                <!-- </label> -->
                {{ form.father_name }}
            </div>

            <div class="mb-3 form-field">
                <!-- <label for="{{ form.mother_name.id_for_label }}"> -->
                    <i class="fas fa-user"></i> <!-- Icon for mother name -->
                    <!-- {{ form.mother_name.label_tag }} -->
                <!-- </label> -->
                {{ form.mother_name }}
            </div>

            <div class="gender radio-group">
                <label for="{{ form.marital_status.id_for_label }}">
                    <i class="fas fa-heart"></i>
                    {{ form.marital_status.label_tag }}
                </label>
                {{ form.marital_status }}
            </div>

            <div class="form-field">
                <label for="{{ form.num_spouse.id_for_label }}">
                    <i class="fas fa-users"></i>&emsp;&emsp;
                    {{ form.num_spouse.label_tag }}
                    {{ form.num_spouse }}
                </label>
            </div>

            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" onclick="previousSection(1)">
                    <i class="fas fa-arrow-left"></i> Previous
                </button>
                <button type="button" class="btn btn-primary" onclick="nextSection(3)">
                    <i class="fas fa-arrow-right"></i> Next
                </button>
            </div>
        </div>
        <!-- Section 3: Spouse Information -->
        <div id="section3" class="form-section" style="display:none;">
            <h3><span id="section3Heading">Spouse Information</span></h3>
            <div id="spouseDetails"></div>
            <div class="mb-3">
                <label for="{{ form.num_children.id_for_label }}">
                    <i class="fas fa-child"></i> <!-- Icon for number of children -->
                    {{ form.num_children.label_tag }}
                </label>
                {{ form.num_children }}
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" onclick="previousSection(2)">
                    <i class="fas fa-arrow-left"></i> Previous
                </button>
                <button type="button" class="btn btn-primary" onclick="nextSection(4)">
                    <i class="fas fa-arrow-right"></i> Next
                </button>
            </div>
        </div>

        <!-- Section 4: Children Information -->
        <div id="section4" class="form-section" style="display:none;">
            <h3><i class="fas fa-child"></i> Children Information</h3>
            <div id="childrenDetails"></div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" onclick="previousSection(3)">
                    <i class="fas fa-arrow-left"></i> Previous
                </button>
                <button type="button" class="btn btn-success" onclick="validateAndNext()">
                    <i class="fas fa-check"></i> Review & Save
                </button>
            </div>
        </div>

        <!-- Section 5: Review and Save -->
        <div id="section5" class="form-section" style="display:none;">
            <h3><i class="fas fa-check"></i> Review and Save</h3>
            <div id="reviewContent"></div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" onclick="previousSection(4)">
                    <i class="fas fa-arrow-left"></i> Previous
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Save
                </button>
            </div>
        </div>
        </form>
        </div>
            <script>
                function nextSection(sectionNumber) 
                {
                    var currentSection = document.querySelector('.form-section:not([style*="display: none"])');
                    if (!currentSection) 
                    {
                        console.error('Current section not found.');
                        return;
                    }
                    if(sectionNumber === 2)
                    {
                        var Name = document.querySelector('input[name="your_name"]').value;
                        var Email = document.querySelector('input[name="your_email"]').value;
                        if (!Name) 
                        {
                            alert("Please Fill Out Your Name.");
                            return;
                        }
                        if (!Email)
                        {
                            alert("Please Fill Out Your Email.");
                            return;
                        }
                    }
                    if (sectionNumber === 3) 
                    {
                        var personName = document.querySelector('input[name="person_name"]').value;
                        var personFatherName = document.querySelector('input[name="father_name"]').value;
                        var personMotherName = document.querySelector('input[name="mother_name"]').value;
                        var maritalStatus = document.querySelector('input[name="marital_status"]:checked');
                        var genderStatus = document.querySelector('input[name="gender"]:checked');
                        if(!personName)
                        {
                            alert("Please Fill Out Person Name.");
                            return;
                        }
                        if(!genderStatus)
                        {
                            alert("Please Select The Gender.");
                            return;
                        }
                        if(!personFatherName)
                        {
                            alert("Please Fill Out Father Name.");
                            return;
                        }
                        if(!personMotherName)
                        {
                            alert("Please Fill Out Mother Name.");
                            return;
                        }
                        if (!maritalStatus) 
                        {
                            alert("Please Select Marital Status.");
                            return;
                        }
                        updateSpousePlaceholders(); 
                        if (maritalStatus.value === "not_married") 
                        {
                            document.getElementById('multiStepForm').submit()
                            return;
                        } 
                        else 
                        {
                            var personName = document.querySelector('input[name="person_name"]').value;
                            var gender = document.querySelector('input[name="gender"]:checked').value;
                            var section3Heading = document.getElementById('section3Heading');
                            if (gender === 'Male') 
                            {
                                section3Heading.innerText = personName + " ના રાણીસાહેબ ની માહિતી નીચે દાખલ કરો";
                            } 
                            else if (gender === 'Female') 
                            {
                                section3Heading.innerText = personName + " ના જમાઈસાહેબ ની માહિતી નીચે દાખલ કરો";
                            } 
                            else 
                            {
                                alert("Please Select The Gender");
                                return;
                            }
                            // Add spouse fields dynamically
                            var numSpouses = document.querySelector('select[name="num_spouse"]').value;
                            if (numSpouses==0)
                            {
                                alert("Please Select Number Of Spouse.");
                                return;
                            }
                            else
                            {
                                let maxSpouses = numSpouses === '4+' ? 7 : parseInt(numSpouses)
                                var spouseDetailsDiv = document.getElementById('spouseDetails');
                                spouseDetailsDiv.innerHTML = ''; // Clear previous content
                                for (let i = 1; i <= maxSpouses; i++) 
                                {
                                    spouseDetailsDiv.innerHTML += `
                                        <div class="spouse-info">
                                            <h4>જીવનસાથી - ${i} ની માહિતી</h4>
                                            <div class="mb-3">
                                                <label for="id_spouse_name_${i}" class="form-label">
                                                    <i class="fas fa-user"></i> Spouse ${i}'s Full Name
                                                </label>
                                                <input type="text" id="id_spouse_name_${i}" name="spouse_name_${i}" class="form-control" placeholder="રાણીસાહેબ / જમાઈસાહેબ નુ પૂરુ નામ દાખલ કરો.">
                                            </div>
                                            <div class="mb-3">
                                                <label for="id_spouse_father_name_${i}" class="form-label">
                                                    <i class="fas fa-user-friends"></i> Spouse ${i}'s Father's Full Name
                                                </label>
                                                <input type="text" id="id_spouse_father_name_${i}" name="spouse_father_name_${i}" class="form-control" placeholder="Enter spouse's father's full name">
                                            </div>
                                            
                                            <div class="mb-3">
                                                <label for="id_spouse_village_${i}" class="form-label">
                                                    <i class="fas fa-map-marker-alt"></i> Spouse ${i}'s Village
                                                </label>
                                                <input type="text" id="id_spouse_village_${i}" name="spouse_village_${i}" class="form-control" placeholder="Enter spouse's village">
                                            </div>
                                        </div>
                                    `;
                                }
                                // Show the spouse details
                                document.querySelectorAll('.spouse-info').forEach(function(spouseInfo) 
                                {
                                    spouseInfo.style.display = 'block';
                                });
                                updateSpousePlaceholders(); 
                            }
                            
                        }
                    }
                    if (sectionNumber === 4) 
                    {
                        var numChildren = document.querySelector('select[name="num_children"]').value;
                        var childrenDetailsDiv = document.getElementById('childrenDetails');
                        childrenDetailsDiv.innerHTML = ''; // Clear previous content
                        if (numChildren == 0) 
                        {
                            // If no children, hide the section and submit the form
                            document.getElementById('multiStepForm').submit();
                            return;
                        }
                        let maxChildren = numChildren === '4+' ? 7 : parseInt(numChildren); // Adjust maximum number if needed
                        for (let i = 1; i <= maxChildren; i++) 
                        {
                            childrenDetailsDiv.innerHTML += `
                                <div class="mb-3">
                                    <label for="id_child_name_${i}">Child ${i}'s Full Name</label>&emsp;
                                    <input type="text" id="id_child_name_${i}" name="child_name_${i}" class="form-control" placeholder="Enter child's full name">&emsp;<br><br>
                                </div>
                                <div class="mb-3">
                                    <label for="id_child_gender_${i}">સંતાન - ${i} ની જાતિ</label>&emsp;<br><br>
                                    <input type="radio" id="id_child_gender_${i}_male" name="child_gender_${i}" value="male" class="form-check-input">
                                    <label for="id_child_gender_${i}_male">પુરુષ</label>&emsp;
                                    <input type="radio" id="id_child_gender_${i}_female" name="child_gender_${i}" value="female" class="form-check-input">&emsp;
                                    <label for="id_child_gender_${i}_female">સ્ત્રી</label>&emsp;<br><br>
                                </div>
                                <div class="mb-3">
                                    <label for="id_child_marital_status_${i}">સંતાન - ${i} ની વૈવાહિક સ્થિતિ</label><br><br>
                                    <input type="radio" id="id_child_marital_status_${i}_married" name="child_marital_status_${i}" value="married" class="form-check-input">&emsp;
                                    <label for="id_child_marital_status_${i}_married">પરણિત</label>&emsp;
                                    <input type="radio" id="id_child_marital_status_${i}_not_married" name="child_marital_status_${i}" value="not_married" class="form-check-input">
                                    <label for="id_child_marital_status_${i}_not_married">અપરણિત</label>&emsp;<br><br>
                                </div>
                            `;
                        }
                    }
                    if (sectionNumber === 5) 
                    {
                        generateReview();
                    }
                    // Hide current section and show the next section
                    currentSection.style.display = 'none';
                    document.getElementById('section' + sectionNumber).style.display = 'block';
                }
                function previousSection(sectionNumber) 
                {
                    var currentSection = document.querySelector('.form-section:not([style*="display: none"])');
                    if (!currentSection) 
                    {
                        console.error('Current section not found.');
                        return;
                    }
                    // Hide current section and show the previous section
                    currentSection.style.display = 'none';
                    document.getElementById('section' + sectionNumber).style.display = 'block';
                }
                function validateAndNext() 
                {
                    var childrenDetailsDiv = document.getElementById('childrenDetails');
                    var childInputs = childrenDetailsDiv.querySelectorAll('input[name^="child_name_"]');
                    var allFieldsFilled = Array.from(childInputs).every(input => input.value.trim() !== '');
                    if (!allFieldsFilled) 
                    {
                        alert("Please fill out the details for all children.");
                        return;
                    }
                    nextSection(5); // Move to Section 5
                }
                function updateSpousePlaceholders() 
                {
                    var gender = document.querySelector('input[name="gender"]:checked').value;
                    var spouseLabel = gender === 'Male' ? 'રાણીસાહેબ' : 'જમાઈસાહેબ';
                    var numSpouses = document.querySelector('select[name="num_spouse"]').value;
                    var spouseInfoDivs = document.querySelectorAll('.spouse-info');

                    spouseInfoDivs.forEach(function (spouseInfoDiv, index) 
                    {
                        var spouseNumber = index + 1;
                        var spouseTitle = numSpouses === "1" ? spouseLabel : `${spouseLabel} - ${spouseNumber}`;

                        // Update the spouse heading
                        var spouseHeading = spouseInfoDiv.querySelector('h4');
                        if (spouseHeading) 
                        {
                            spouseHeading.innerText = `${spouseTitle} ની માહિતી`;
                        }

                        // Update the spouse name label and placeholder
                        var spouseNameLabel = spouseInfoDiv.querySelector(`label[for="id_spouse_name_${spouseNumber}"]`);
                        spouseNameLabel.innerHTML = `<i class="fas fa-user"></i> ${spouseTitle} નું પૂરું નામ દાખલ કરો.`;
                        var spouseNameInput = spouseInfoDiv.querySelector(`input[name="spouse_name_${spouseNumber}"]`);
                        spouseNameInput.placeholder = `${spouseTitle} નું પૂરું નામ દાખલ કરો`;

                        // Update the spouse father name label and placeholder
                        var spouseFatherNameLabel = spouseInfoDiv.querySelector(`label[for="id_spouse_father_name_${spouseNumber}"]`);
                        spouseFatherNameLabel.innerHTML = `<i class="fas fa-user"></i> ${spouseTitle} ના બાપુસાહેબ નુ પૂરું નામ દાખલ કરો.`;
                        var spouseFatherNameInput = spouseInfoDiv.querySelector(`input[name="spouse_father_name_${spouseNumber}"]`);
                        spouseFatherNameInput.placeholder = `${spouseTitle} ના બાપુસાહેબ નુ પૂરું નામ દાખલ કરો`;

                        // Update the spouse village name label and placeholder
                        var spouseVillageNameLabel = spouseInfoDiv.querySelector(`label[for="id_spouse_village_${spouseNumber}"]`);
                        spouseVillageNameLabel.innerHTML = `<i class="fas fa-map-marker-alt"></i> ${spouseTitle} નુ વતન દાખલ કરો.`;
                        var spouseVillageNameInput = spouseInfoDiv.querySelector(`input[name="spouse_village_${spouseNumber}"]`);
                        spouseVillageNameInput.placeholder = `${spouseTitle} નુ વતન દાખલ કરો`;
                    });
                }

                // Call this function when the gender is selected in Section 2
                document.querySelectorAll('input[name="gender"]').forEach(function (genderRadio) 
                {
                    genderRadio.addEventListener('change', updateSpousePlaceholders);
                });
                
                function generateReview() 
                {
                    var reviewContent = document.getElementById('reviewContent');
                    // Collect personal details
                    var personName = document.querySelector('input[name="person_name"]').value;
                    var dob = document.querySelector('input[name="dob"]').value;
                    var gender = document.querySelector('input[name="gender"]:checked').value;
                    var maritalStatus = document.querySelector('input[name="marital_status"]:checked').value;
                    var reviewHtml = `
                        <h4>Personal Details</h4>
                        <p><strong>Name : </strong> ${personName}</p><br>
                        <p><strong>Date of Birth : </strong> ${dob}</p><br>
                        <p><strong>Gender : </strong> ${gender}</p><br>
                        <p><strong>Marital Status : </strong> ${maritalStatus}</p><br>
                    `;
                    // Collect spouse details
                    var numSpouses = document.querySelector('select[name="num_spouse"]').value;
                    if (numSpouses > 0) 
                    {
                        reviewHtml += '<h4>Spouse Details</h4>';
                        for (let i = 1; i <= numSpouses; i++) 
                        {
                            var spouseName = document.querySelector(`input[name="spouse_name_${i}"]`).value;
                            var spouseFatherName = document.querySelector(`input[name="spouse_father_name_${i}"]`).value;
                            var spouseVillage = document.querySelector(`input[name="spouse_village_${i}"]`).value;
                            reviewHtml += `
                                <p><strong>Spouse ${i} Name : </strong> ${spouseName}</p><br>
                                <p><strong>Spouse ${i} Father's Name : </strong> ${spouseFatherName}</p><br>
                                <p><strong>Spouse ${i} Village : </strong> ${spouseVillage}</p><br>
                            `;
                        }
                    }
                    // Collect children details
                    var numChildren = document.querySelector('select[name="num_children"]').value;
                    if (numChildren > 0) 
                    {
                        reviewHtml += '<h4>Children Details</h4>';
                        let maxChildren = numChildren === '4+' ? 7 : parseInt(numChildren);
                        for (let i = 1; i <= maxChildren; i++) 
                        {
                            var childName = document.querySelector(`input[name="child_name_${i}"]`).value;
                            var childGender = document.querySelector(`input[name="child_gender_${i}"]:checked`).value;
                            var childMaritalStatus = document.querySelector(`input[name="child_marital_status_${i}"]:checked`).value;
                            reviewHtml += `
                                <p><strong>Child ${i} Name : </strong> ${childName}</p><br>
                                <p><strong>Child ${i} Gender : </strong> ${childGender}</p><br>
                                <p><strong>Child ${i} Marital Status : </strong> ${childMaritalStatus}</p><br>
                            `;
                            if (childMaritalStatus === 'married') 
                            {
                                alert(`PLEASE FILL OUT THE ${childName}`)
                            }
                        }
                    }
                    reviewContent.innerHTML = reviewHtml;
                }
        </script>
    </body>
</html>