<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Village Maps Visualization</title>
    <!-- Include Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Include custom CSS for map container -->
    <style>
        #map {
            height: 600px; /* Adjust as needed */
            width: 100%;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">MAP VISUALIZATION COMING SOON!!!</h1>
    <center>
        <a href="/" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">HOME</a>
    </center>
    <div id="map">
        {{ map|safe }}
    </div>    
    <!-- Include Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</body>
</html>